// Variables

$font-color: #777;
$headline-color: #58e1c1;
$aqua: #51ddfc;
$white: #fff;
$grey: #ccc;

$error: #e4757a;
$info:  #927bc1;
$success: #63cc82;
$warning: #fd7856;

// Theme colors for grid!

$themes: (
    'col-1':  $info,
    'col-2':  $warning, 
    'col-3':  #deb2ee, 
    'col-4':  #7ee6fd, 
    'col-5':  #88d9a0, 
    'col-6':  #4da2bb,
    'col-7':  #ec9fa3, 
    'col-8':  #fd9f85,
    'col-9':  $error,
    'col-10': $success,
    'col-11': $headline-color,
    'col-12': #80e8d1,
);