// Variables

$font-color: #777;
$headline-color: #58e1c1;
$aqua: #51ddfc;
$white: #fff;
$grey: #ccc;

$error: #e4757a;
$info:  #927bc1;
$success: #63cc82;
$warning: #fd7856;

// Theme colors for grid!