
/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $aqua;
  @include hovering($aqua);
}

.error {
  background-color: $error;
  @include hovering($error);
}

.info {
  background-color: $info;
  @include hovering($info);
}

.success {
  background-color: $success;
  @include hovering($success);
}

.warning {
  background-color: $warning;
  @include hovering($warning);
}