
/* ============================================= */
/*              Images                           */
/* ============================================= */

.img {
  &-avatar {
    @include imgages();
    max-height: 100%;
  }
  &-frame {
    @include imgages();
    padding: 13px;
    border: 1px solid $grey;
  }
  &-logo {
    @include imgages();
    margin-top: 0;
  }
}