
/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@media (min-width: $brk-desktop) {

  .container {
    @include centered();
    max-width: 1400px;
  }

  .centered {
    @include centered();
  }

  .row {
    @include flexcont($dir: row);
    .btn + .btn {
      margin-left: 10px;
    }
  }

  [class^=col] {
    @include flexcont($dsp: flex, $just: center, $alignitm: center);
    margin-top: 0;
  }

  [class^=col] + [class^=col] {
    margin-left: 10px;
  }

  .col {
    @include colswidth($cols);
  }

  .nav {
    @include flexcont($dir: row, $just: flex-end, $alignitm: center);
    &-link {
      @include flexitem($basis: 100px);
    }
  }

  .btn {
    padding: 10px 30px;
  }

  .logo {
    margin-left: initial;
    margin-right: initial;
  }
}